<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

<div class="row">
    <div class="column">
        <img src="https://funnypicture.org/wallpaper/2015/03/funny-cartoon-animations-27-high-resolution-wallpaper.jpg" style="width:100%;height: 15%;">
        <img src="../../assets/1.jpg" style="width:100%;height: 25%;">
        <img src="../../assets/2.jpg" style="width:100%">
        <img src="../../assets/9.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="../../assets/3.jpg" style="width:100%">
        <img src="../../assets/4.jpg" style="width:100%">
        <img src="../../assets/8.jpg" style="width:100%">
      </div>  
      <div class="column">
        <img src="../../assets/5.jpg" style="width:100%">
        <img src="../../assets/6.jpg" style="width:100%">
        <img src="../../assets/7.jpg" style="width:100%">
      </div>
  </div>