<mat-card class="example-card">
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="email" placeholder="Email Id">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="password" placeholder="Password" type="password">
    </mat-form-field>
    <mat-card-footer class="text-center"><button (click)="Validate()" mat-raised-button color="primary">Sign In</button></mat-card-footer>
    <mat-card-content>
        <p>
            {{validationMessage}}
        </p>
    </mat-card-content>
</mat-card>