.example-card {
    max-width: 400px;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
  }

  .text-center{
      text-align: center !important;
  }

  .example-full-width {
    width: 100%;
  }