<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

<div class="row">
    <div class="column">
        <img src="../../assets/10.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="../../assets/3.jpg" style="width:100%">
      </div>  
      <div class="column">
        <img src="../../assets/5.jpg" style="width:100%">
      </div>
  </div>