<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div *ngFor="let r of this.menus[0].m">
            <a mat-button routerLink="{{r.redirectTo}}">{{r.name}}</a>
            <!-- <span class="example-spacer"></span>
        <a mat-button routerLink="{{redirecTo}}">{{name}}</a>  -->
        </div>
        <span class="example-spacer"></span>
        <a mat-button (click)="signout()">{{name}}</a>
    </mat-toolbar-row>
</mat-toolbar>